*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    font-weight: 700;
    padding-left: 20px;
}

header {
    background-color: $primaty;
    color: wheat;
    margin: 0 auto;
    height: auto;
}